[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lmdb = "*"
pillow = "*"
nltk = "*"
natsort = "*"
opencv-python = "*"
imageio = "*"
torch = {path = "./whl/torch-1.7.1+cu101-cp37-cp37m-win_amd64.whl"}
torchvision = {path = "./whl/torchvision-0.8.2+cu101-cp37-cp37m-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.7"
