[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lmdb = "*"
pillow = "*"
nltk = "*"
natsort = "*"
opencv-python = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.7"
